/* Dark and light mode */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #705edc;
    --third-color: gray;
    --text-color: black;
}

.darkMode {
    --primary-color: #1E1E1E;
    --secondary-color: #705edc;
    --third-color: lightgray;
    --text-color: white;
}

/* Modify scroll bar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #705edc);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 2px black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* HTML */

html {
    scroll-behavior: smooth;
}

/* Body */

body {
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    overflow-x: hidden;
}

/* Navigaton */

.topNav-skills, .topNav-home, .topNav-about, .topNav-contact, .topNav-designs {
    cursor: pointer;
}

.phone {
    display: none;
}

.topNav {
    width: 100%;
    height: 10vh;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    box-shadow: 0px -2px 8px black;
}

.logoText {
    margin-top: 5%;
    margin-left: 5vw;
    font-family: 'Gluten', cursive;
    font-size: 40px;
    color: var(--text-color);
    cursor: default;
}

.topNav-rightSide {
    display: flex;
    padding: 5px 10px;
    margin-right: 8vw;
}

.topNav-rightSide a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    padding: 5px 10px;
    color: var(--text-color);
    transition: 0.3s;
}

.topNav-rightSide a:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

.topNav-rightSide i {
    font-size: 25px;
    padding: 8px 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

.topNav-rightSide i:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

/* Homepage */

.homepage {
    position: absolute;
    width: 90%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;
}

.homepage-right{
    padding-left: 20px;
}

.homepage-name {
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    color: var(--text-color);
    line-height: 0;
}

.homepage-occupation {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: var(--text-color);
}

.homepage-desc {
    font-family: 'Barlow', sans-serif;
    color: var(--text-color);
}

.medias {
    display: flex;
    margin: 0 20px;
}

.github-media{
    text-decoration: none;
}

.github-img {
    width: 25px;
}

.discord-media {
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.discord-img {
    width: 25px;
    padding-left: 10px;
}
  
  .discord-media::before,
  .discord-media::after {
    --scale: 0;
    --arrow-size: 10px;
    --tooltip-color: rgba(0, 0, 0, 0.8);
  
    position: absolute;
    top: -.25rem;
    left: 50%;
    transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
  }
  
  .discord-media::before {
    --translate-y: calc(-100% - var(--arrow-size));
  
    content: attr(data-tooltip);
    color: white;
    padding: .5rem;
    border-radius: .3rem;
    text-align: center;
    width: 175px;
    /*max-width: 100%;*/
    background: var(--tooltip-color);
  }
  
  .discord-media:hover::before,
  .discord-media:hover::after {
    --scale: 1;
  }
  
  .discord-media::after {
    --translate-y: calc(-1 * var(--arrow-size));
  
    content: '';
    border: var(--arrow-size) solid transparent;
    border-top-color: var(--tooltip-color);
    transform-origin: top center;
  }

.webLogo {
    margin-bottom: 20%;
}

/* About section */

.custom-shape-divider-bottom-1632291245 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632291245 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 169px;
}

.custom-shape-divider-bottom-1632291245 .shape-fill {
    fill: var(--secondary-color);
}

.aboutBox {
    position: absolute;
    top: 100%;
    width: 100%;
    background: var(--secondary-color);
    height: 70vh;
}

.title {
    text-align: center;
}

.title button {
    outline: none;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    display: none;
} 

.title button:hover {
    box-shadow: 0px 0px 5px black;
}

.about-title {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-top: 0;
    color: var(--text-color);
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.about-left {
    position: absolute;
    width: 47%;
    height: 100%;
    display: block;
}

.about-left-title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
}

.about-left-content {
    margin-left: 2%;
    color: var(--text-color);
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-align: center;
}

.aboutWorksBtn {
    margin-top: 10%;
}

.about-works-btn {
    position: relative;
    background-color: var(--primary-color);
    bottom: 5%;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--secondary-color);
    content: "noPhone";
    cursor: pointer;
    transition: 0.3s;
}

.about-works-btn:hover {
    box-shadow: 0px 0px 5px black;
}

.about-right {
    position: absolute;
    width: 47%;
    height: 100%;
    right: 0;
    display: block;
}

.about-right-title {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
}

.about-right-content {
    color: var(--text-color);
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-right: 2%;
}

.aboutCodesBtn {
    margin-top: 10%;
}

.about-codes-btn {
    position: relative;
    background-color: var(--primary-color);
    bottom: 5%;
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.about-codes-btn:hover {
    box-shadow: 0px 0px 5px black;
}

.custom-shape-divider-top-1632291928 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: 170%;
}

.custom-shape-divider-top-1632291928 svg {
    position: relative;
    display: block;
    width: calc(146% + 1.3px);
    height: 189px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1632291928 .shape-fill {
    fill: #705EDC;
}

/* Skills section */

.skillsBox {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 200%;
    background: var(--primary-color);

}

.skills-title {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin-top: -4%;
    text-align: center;
    color: var(--text-color);
}

.skills-content {
    margin-left: 50px;
    position: relative;
    justify-content: center;
    display: flex;
}

.skillHTMLIMG {
    position: absolute;
    width: 200px;
}

.skillHTMLdiv {
    position: absolute;
    margin-top: 1px;
    width: 196px;
    height: 196px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--text-color);
}

.html-skill-content {
    text-align: center;
    margin-top: 85%;
    margin-left: -20%;
    color: var(--text-color);
    width: 250px;
}

.html-skill-content h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.html-skill-content p{
    font-family: 'Quicksand', sans-serif;
}

.css-skill {
    margin-left: 50px;
}

.skillCSSIMG {
    position: absolute;
    width: 200px;
}

.skillCSSdiv {
    position: absolute;
    margin-top: 1px;
    width: 196px;
    height: 196px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--text-color);
}

.css-skill-content {
    text-align: center;
    margin-top: 85%;
    margin-left: -15%;
    color: var(--text-color);
    width: 250px;
}

.css-skill-content h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.css-skill-content p {
    font-family: 'Quicksand', sans-serif;
}

.java-skill {
    margin-left: 20px;
}

.skillJavaIMG {
    position: absolute;
    width: 200px;
}

.java-progressImg {
    margin-left: 7%;
}

.skillJAVAdiv {
    position: absolute;
    margin-top: 1px;
    width: 196px;
    height: 196px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--text-color);
}

.java-skill-content {
    text-align: center;
    margin-top: 85%;
    margin-left: -8%;
    color: var(--text-color);
    width: 250px;
}

.java-skill-content h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.java-skill-content p {
    font-family: 'Quicksand', sans-serif;
}

.photoshop-skill {
    margin-left: 20px;
}

.photoshop-progressImg {
    margin-left: 30px;
}

.skillPhotoshopIMG {
    position: absolute;
    width: 200px;
}

.skillPhotoshopDiv {
    position: absolute;
    margin-top: 1px;
    width: 196px;
    height: 196px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px var(--text-color);
}

.photoshop-skill-content {
    text-align: center;
    margin-top: 85%;
    margin-left: -1%;
    color: var(--text-color);
    width: 250px;
}

.photoshop-skill-content h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.photoshop-skill-content p {
    font-family: 'Quicksand', sans-serif;
}

/* Designs section */

.custom-shape-divider-bottom-1632386710 {
    position: absolute;
    top: 270%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 5;
}

.custom-shape-divider-bottom-1632386710 svg {
    position: relative;
    display: block;
    width: calc(215% + 1.3px);
    height: 246px;
}

.custom-shape-divider-bottom-1632386710 .shape-fill {
    fill: #705EDC;
}

.custom-shape-divider-top-1632386940 {
    position: absolute;
    top: 307%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 5;
}

.custom-shape-divider-top-1632386940 svg {
    position: relative;
    display: block;
    width: calc(250% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1632386940 .shape-fill {
    fill: #705EDC;
}

.designsBox {
    position: absolute;
    top: 307%;
    width: 100%;
    height: 90vh;
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.designs-title {
    font-family: 'Gluten', cursive;
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
}

.designsContent {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.designsContent img {
    width: 300px;
    height: 170px;
    transition: 0.3s;
}

.designsContent img:hover {
    box-shadow: 0px 0px 3px black;
    transform: scale(1.1);
}

.custom-shape-divider-bottom-1632388107 {
    position: absolute;
    top: 382%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1632388107 svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1632388107 .shape-fill {
    fill: #705EDC;
}

.custom-shape-divider-top-1632387990 {
    position: absolute;
    top: 397%;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1632387990 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1632387990 .shape-fill {
    fill: #705EDC;
}
/* ----------------------------------------------- For Phones ----------------------------------------------- */

@media only screen and (max-width: 720px) {
    /* Navigation */
    .noPhone {
        display: none;
    }

    .phone {
        display: block;
    }

    .topNav-rightSide {
        display: block;
    }

    #menuIcon {
        z-index: 12;
        color: var(--secondary-color);
    }

    .phoneNav {
        position: absolute;
        display: flex;
        width: 250px;
        height: 100vh;
        top: 0;
        right: -250px;
        background: var(--secondary-color);
        z-index: 11;
        transition: 0.3s;
    }

    .phone img {
        display: inline;
        margin-top: 5px;
        width: 35px;
        z-index: 12;
        cursor: pointer;
    }

    .topNav-rightSide a {
        margin-left: 5%;
        display: block;
        min-width: 100px;
    }

    .topNav-rightSide a:hover {
        color: var(--primary-color);
        transform: scale(1.2);
    }

    .topNav-rightSide i {
        margin-left: 5%;
    }

    .topNav-rightSide i:hover {
        color: var(--primary-color);
        transform: scale(1.2);    
    }

    .leftSide {
        padding-right: 40%;
    }

    .rightSide {
        padding-top: -40%;
    }

    .phoneNavClose {
        font-family: 'Gruppo', cursive;
        color: var(--text-color);
        cursor: pointer;
        transition: 0.3s;
    }

    .phoneNavClose:hover {
        color: var(--primary-color);
    }

    /* Homepage */

    .homepage {
        position: absolute;
        width: 90%;
        height: 85%;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        display: inline;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: left;
    }

    .homepage-right{
        text-align: center;
    }

    .homepage-name {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 50px;
        color: var(--text-color);
        line-height: 0;
    }

    .homepage-occupation {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        color: var(--text-color);
    }

    .homepage-desc {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        color: var(--text-color);
    }

    .medias {
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }

    .github-media{
        text-decoration: none;
        z-index: 6;
    }

    .github-img {
        width: 25px;
        z-index: 6;
    }

    .discord-media {
        text-decoration: none;
        z-index: 6;
    }

    .discord-img {
        width: 25px;
        padding-left: 10px;
        z-index: 6;
    }

    .webLogo {
        width: 70%;
        margin-top: -15%;
        z-index: 5;
    }

    /* About section */

    .aboutBox {
        position: absolute;
        top: 100%;
        width: 100%;
        background: var(--secondary-color);
        height: 145vh;
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        flex-direction: column-reverse;
    }
    
    .about-right {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 45%;
        transition: 0.3s;
    }

    .about-left {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        transition: 0.3s;
    }

    .about-works-btn {
        position: relative;
        background-color: var(--primary-color);
        bottom: 5%;
        border-radius: 5px;
        padding: 10px 20px;
        color: var(--secondary-color);
        content: "phone";
        cursor: pointer;
        transition: 0.3s;
    }    

    .custom-shape-divider-top-1632291928 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        top: 240%;
    }

    /* Skills section */
    .skillsBox {
        position: absolute;
        width: 100%;
        height: 90vh;
        top: 270%;
        background: var(--primary-color);
    }

    .skills-content {
        margin-left: 50px;
        position: relative;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }

    .html-skill {
        margin-left: 1%;
    }

    .html-progressImg {
        margin-left: 3%;
    }

    .skillHTMLIMG {
        position: absolute;
        width: 150px;
    }
    
    .skillHTMLdiv {
        position: absolute;
        margin-top: 1px;
        width: 146px;
        height: 146px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px var(--text-color);
    }
    
    .html-skill-content {
        text-align: center;
        margin-top: 80%;
        margin-left: -10%;
        color: var(--text-color);
        width: 200px;
    }
    
    .html-skill-content h1 {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .html-skill-content p{
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
    }

    .css-skill {
        margin-left: 40px;
    }
    
    .css-progressImg {
        margin-left: -8%;
    }

    .skillCSSIMG {
        position: absolute;
        width: 150px;
    }
    
    .skillCSSdiv {
        position: absolute;
        margin-top: 1px;
        width: 146px;
        height: 146px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px var(--text-color);
    }
    
    .css-skill-content {
        text-align: center;
        margin-top: 75%;
        margin-left: -20%;
        color: var(--text-color);
        width: 200px;
    }
    
    .css-skill-content h1 {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .css-skill-content p {
        content: "";
        font-family: 'Quicksand', sans-serif;
        font-size: 15px;
    }

    .java-skill {
        margin-left: -5%;
    }
    
    .java-progressImg {
        margin-top: 30px;
    }

    .skillJavaIMG {
        position: absolute;
        width: 150px;
    }
    
    .java-progressImg {
        margin-left: 7%;
    }
    
    .skillJAVAdiv {
        position: absolute;
        margin-top: 1px;
        width: 146px;
        height: 146px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px var(--text-color);
    }
    
    .java-skill-content {
        text-align: center;
        margin-top: 90%;
        margin-left: -8%;
        color: var(--text-color);
        width: 200px;
    }
    
    .java-skill-content h1 {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .java-skill-content p {
        font-family: 'Quicksand', sans-serif;
    }

    .photoshop-skill {
        margin-left: 20px;
    }
    
    .photoshop-progressImg {
        margin-left: 10px;
        margin-top: 30px;
    }
    
    .skillPhotoshopIMG {
        position: absolute;
        width: 150px;
    }
    
    .skillPhotoshopDiv {
        position: absolute;
        margin-top: 1px;
        width: 146px;
        height: 146px;
        border-radius: 50%;
        box-shadow: 0px 0px 5px var(--text-color);
    }
    
    .photoshop-skill-content {
        text-align: center;
        margin-top: 85%;
        margin-left: -5%;
        color: var(--text-color);
        width: 200px;
    }
    
    .photoshop-skill-content h1 {
        font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .photoshop-skill-content p {
        font-family: 'Quicksand', sans-serif;
    }

    /* Designs section */

    .custom-shape-divider-bottom-1632386710 {
        position: absolute;
        top: 405%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 5;
    }
    
    .custom-shape-divider-top-1632386940 {
        position: absolute;
        top: 443%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        z-index: 5;
    }
    
    .designsBox {
        position: absolute;
        top: 442%;
        width: 100%;
        height: 105vh;
        background: var(--primary-color);
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: center;
    }

    .designsContent {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;
    }

    .designsContent img {
        width: 200px;
        height: 113.33px;
        transition: 0.3s;
    }

    .custom-shape-divider-bottom-1632388107 {
        position: absolute;
        top: 540%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-top-1632387990 {
        position: absolute;
        top: 556%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
}
