/* Dark and light mode */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #705edc;
    --third-color: gray;
    --text-color: black;
}

.darkMode {
    --primary-color: #1E1E1E;
    --secondary-color: #705edc;
    --third-color: lightgray;
    --text-color: white;
}

/* Body */

body {
    padding: 0;
    margin: 0;
    background: var(--primary-color);
}

/* Navigaton */

.topNav {
    width: 100vw;
    height: 10vh;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    box-shadow: 0px -2px 8px black;
}

.logoText {
    margin-top: 5%;
    margin-left: 5vw;
    font-family: 'Gluten', cursive;
    font-size: 40px;
    color: var(--text-color);
}

.topNav-rightSide {
    display: flex;
    padding: 5px 10px;
    margin-right: 8vw;
}

.topNav-rightSide a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    padding: 5px 10px;
    color: var(--text-color);
}

.topNav-rightSide a:hover {
    color: var(--secondary-color);
}

.topNav-rightSide i {
    font-size: 25px;
    padding: 8px 10px;
    color: var(--text-color);
    cursor: pointer;
}

.topNav-rightSide i:hover {
    color: var(--secondary-color);
}

/* Home Page */


.homeGrid {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.homeGrid-title {
    color: var(--text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    line-height: 0;
}

.homeGrid-occupation {
    color: var(--text-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--third-color);
    font-size: 25px;
    line-height: 10px;
}

.homeGrid-desc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
    color: var(--text-color);
}

.homeGrid-contactBtn {
    display: flex;
    position: absolute;
    bottom: 5%;
}

.gitHub-btn {
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.gitHub-img {
    height: 40px;
}

.discord-btn {
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.discord-img {
    height: 40px;
}

.homeGrid-rightSide img {
    width: 130%;
}
