/* Dark and light mode */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #705edc;
    --third-color: gray;
    --text-color: black;
}

.darkMode {
    --primary-color: #1E1E1E;
    --secondary-color: #705edc;
    --third-color: lightgray;
    --text-color: white;
}

/* Body */

body {
    padding: 0;
    margin: 0;
    background: var(--primary-color);
}

/* Navigaton */

.phone {
    display: none;
}

.topNav {
    width: 100%;
    height: 10vh;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    box-shadow: 0px -2px 8px black;
}

.logoText {
    margin-top: 5%;
    margin-left: 5vw;
    font-family: 'Gluten', cursive;
    font-size: 40px;
    color: var(--text-color);
    cursor: default;
}

.topNav-rightSide {
    display: flex;
    padding: 5px 10px;
    margin-right: 8vw;
}

.topNav-rightSide a {
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    padding: 5px 10px;
    color: var(--text-color);
    transition: 0.3s;
}

.topNav-rightSide a:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

.topNav-rightSide i {
    font-size: 25px;
    padding: 8px 10px;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s;
}

.topNav-rightSide i:hover {
    color: var(--secondary-color);
    transform: scale(1.2);
}

/* Homepage */

.homepage {
    position: absolute;
    width: 90%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: left;
}

.homepage-right{
    padding-left: 20px;
}

.homepage-name {
    font-family: 'Barlow', sans-serif;
    font-size: 50px;
    color: var(--text-color);
    line-height: 0;
}

.homepage-occupation {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: var(--text-color);
}

.homepage-desc {
    font-family: 'Barlow', sans-serif;
    color: var(--text-color);
}

.medias {
    display: flex;
    margin: 0 20px;
}

.github-media{
    text-decoration: none;
}

.github-img {
    width: 25px;
}

.discord-media {
    text-decoration: none;
}

.discord-img {
    width: 25px;
    padding-left: 10px;
}

.webLogo {
    margin-bottom: 20%;
}

/* ----------------------------------------------- For Phones ----------------------------------------------- */

@media only screen and (max-width: 720px) {
    /* Navigation */
    .noPhone {
        display: none;
    }

    .phone {
        display: block;
    }

    .topNav-rightSide {
        display: block;
    }

    #menuIcon {
        z-index: 12;
        color: var(--secondary-color);
    }

    .phoneNav {
        position: absolute;
        display: flex;
        width: 250px;
        height: 100vh;
        top: 0;
        right: -250px;
        background: var(--secondary-color);
        z-index: 11;
        transition: 0.3s;
    }

    .phone img {
        display: inline;
        margin-top: 5px;
        width: 35px;
        z-index: 12;
        cursor: pointer;
    }

    .topNav-rightSide a {
        margin-left: 5%;
        display: block;
        min-width: 100px;
    }

    .topNav-rightSide a:hover {
        color: var(--primary-color);
        transform: scale(1.2);
    }

    .topNav-rightSide i {
        margin-left: 5%;
    }

    .topNav-rightSide i:hover {
        color: var(--primary-color);
        transform: scale(1.2);    
    }

    .leftSide {
        padding-right: 40%;
    }

    .rightSide {
        padding-top: -40%;
    }

    .phoneNavClose {
        font-family: 'Gruppo', cursive;
        color: var(--text-color);
        cursor: pointer;
        transition: 0.3s;
    }

    .phoneNavClose:hover {
        color: var(--primary-color);
    }

    /* Homepage */

    .homepage {
        position: absolute;
        width: 90%;
        height: 85%;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        display: inline;
        justify-content: center;
        align-items: center;
        align-content: center;
        text-align: left;
    }

    .homepage-right{
        text-align: center;
    }

    .homepage-name {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 50px;
        color: var(--text-color);
        line-height: 0;
    }

    .homepage-occupation {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        color: var(--text-color);
    }

    .homepage-desc {
        text-align: center;
        font-family: 'Barlow', sans-serif;
        color: var(--text-color);
    }

    .medias {
        display: flex;
        justify-content: center;
        margin: 0 20px;
    }

    .github-media{
        text-decoration: none;
    }

    .github-img {
        width: 25px;
    }

    .discord-media {
        text-decoration: none;
    }

    .discord-img {
        width: 25px;
        padding-left: 10px;
    }

    .webLogo {
        width: 70%;
        margin-top: -15%;
    }

}
